*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.flag{
  width: 400px;
  height: 300px;
  background-color: #ff1100;
  position: relative;
}

.white{
  width: 80px;
  height: 100%;
  background: #eae0e0;
}

.t1{
  width: 40px;
  height: 40px;
  background: #ff0000;
  position: absolute;
  transform: rotate(45deg);
  top: 20px;
  left: 60px;
}
.t2{
  width: 40px;
  height: 40px;
  background: #ff0000;
  position: absolute;
  transform: rotate(45deg);
  top: 90px;
  left: 60px;
}

.t3{
  width: 40px;
  height: 40px;
  background: #ff0000;
  position: absolute;
  transform: rotate(45deg);
  top: 160px;
  left: 60px;
}

.t4{
  width: 40px;
  height: 40px;
  background: #ff0000;
  position: absolute;
  transform: rotate(45deg);
  top: 230px;
  left: 60px;
}



